body {
  font-family: 'Italianno', cursive;
}
button {
  padding: 10px 15px 10px 15px;
  width: 105px;
  font-family: inherit;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: #000000;
}
